@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'poppins', 'sans-serif';
    color: #333;
    line-height: 1.6;
    background-color: #E1E1E1;
}


ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: #333;
}


h1 {
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
    font-size: 72px;
}


h2 {
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
    font-size: 54px;
}

h3 {
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
    font-size: 40px;
    color:#141414;
}



p {
    margin: 10px 0;
    color:#141414;
    font-weight: 400px;
    font-size: 21px;
    line-height: 32px;
}

img {
    width: 100%;
}

.navbar{
    background-color: #fff;
    color: #141414;
    height: 75px;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin: 10px;
}

.navbar {
    color: #001837;
    padding: 10px;
    margin: 0 5px;
}

.navbar a {
    color: #141414;
}


.navbar a:hover {
    border-bottom: 2px #001837 solid;
    text-decoration: none;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar .flex .logo {
    width: 15%;
}

.text-center {
    text-align: center;
}


/*Button*/
.navbar .btn {
    border: 1.5px solid #141414;
    border-radius: 40px;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
}

.navbar .btn:hover {
    border: 1.5px solid #141414;
    background: #141414;
    border-radius: 40px;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}



/*.navbar .btn {
    border: 2px solid #E1AD01;
    border-radius: 64px;
    width: 156px;
    height: 54px;
    padding: 14px 20px;  
    text-align: center;
}*/




/* Hero Section */
 .hero{
    /*background-image: url('/images/Rectangle.png');*/
    background-color: #FFDEAE;
    height: 810px;
    border-radius: 0px;
    position: relative;
 }

 .hero h1 {
    font-size: 72px;
    font: #001837;
 }

 .hero p { 
    margin: 20px 0;

 }

 .hero .grid {
    grid-template-columns: 55% 45% ;
    gap: 30px;
 }


 .hero-text .btn-home {
    border: 1.5px solid #141414;
    border-radius: 40px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #141414;
    margin-right: 20px;
}

.hero-text .btn-home:hover {
    border: 1.5px solid #141414;
    background: #141414;
    border-radius: 40px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.hero-text .btn {
    border: none;
    border-radius: 40px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #141414;
    margin-right: 30px;
}

.hero-text .btn:hover {
    border: 1.5px solid #141414;
    background: #141414;
    border-radius: 40px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}



.home-button{
    padding-top: 38px;
}




 /*Image @ Hero Section
 .familyImage {

 } */





 /*First Section*/
.first-section {
    padding-top: 120px;
}


.first-line {
    border: 1px solid #000;
    max-width: 755px;
    margin: auto;
}

.second-line{
    border: 1px solid #001837;
    width: 370px;
    margin: auto;
}


.section-heading {
    max-width: 700px;
    margin: auto;
    font-size: 54px;
    margin-top: 58px;
}

.first-section p{
    font-size: 21px;
    margin: 73px 0 98px;
}




/*Second Section*/
.second-section .grid {
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 162px;
}

.second-section p {
    margin-left: 97px;
}


/* Third Section */
.third-section {
    margin-top: 138px;
}

.third-section .grid-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.third-section h3 {
    font-size: 33px;
}

.third-section p {
    font: 18px;
}

.card {
    padding: 30px 30px;
}

.third-section .card h3 {
    padding-top: 43px;
}

.card-1 {
    background:#D6B4E4;
    ;
}

.card-2 {
    background: #F5D0D7;
    padding: 45px  30px;
    ;
}

.card-3 {
    background: #FFDDAE;
    ;
}


/* Fourth Section */
.fourth-section {
    margin-top: 214px;
    margin-bottom: 252px;
}

/*.text-box {
    margin: 82px 134px 0px 134px;
} */

.fourth-section .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 146px;
}

.first-box {
    margin: 82px 134px 0px 134px;
}



/* Fifth Section */
.fifth-section{
    background-color: #0A1832;
}

.fifth-section .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}

.fifth-box {
    padding: 100px 140px 100px 105px;
}

.fifth-section h2 {
    color: #ffffff;
}

.fifth-section p {
    padding: 30px 0px 50px;
    color: #ffffff;
}

.fifth-section .grid img {
    max-width: 100%;
    max-height: 100%;
}

.fifth-box .btn-fifth {
    border: 1.5px solid #E1AD01;
    border-radius: 40px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #E1AD01;
    margin-right: 30px;
}

.fifth-box .btn-fifth:hover {
    border: none;
    background: #141414;
    border-radius: 40px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}




/* Sixth Section */



/* Seven Section */
.seven-section {
    background-color: #FFF2C8;
    padding: 80px 0 120px;
}

.whole-box {
    padding-top: 80px;
}

.seven-section .grid {
    grid-template-columns: 420px auto;
    grid-gap: 0px;
}

.seven-section .seven-box {
    padding: 65px 30px 65px 80px;
}

/*.seven-box {

}

.seven-section img {
}
*/



/*Footer*/
.footer {
    padding: 100px 0 100px ;
    background-color:#0A1832;
    ;
}

/*.footer .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}*/

.footer .grid {
    display: flex;
    justify-content: space-between;
}

.footer .grid img {
    width: 180px;
}

.footer .grid ul {
    text-align: right;
    line-height: 2.2;
}


.grid-4 {
    /*display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    justify-content: space-between;
    padding: 100px 0 160px;
}

.footer a {
    color: #FFFFFF;
}



.footer .grid-4 ul {
    text-align: left;
    line-height: 2.2;
}

.footer .grid-4 li {
    font: #fff;
}

.footer .grid-4 h4 {
    text-align: left;
    color:#9CBDFB;
    font: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.footer .base ul {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


.footer .base li {
    color: #ffffff;
    margin: 20px;
}








/* About Us Page */
.about {
    padding: 100px 0 200px 210px;
    background-color: #FFDEAE
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

.about-grid img {
    padding-top: 80px;
}

.our-story {
    padding: 51px 0 136px;
}

.our-story h2 {
    font-size: 54px;
}

.our-story h3 {
    font-size: 36px;
}


.vision {
    padding: 91px 0 129px;
    background: #FFDEAD;
}

.our-vision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 90px;
    justify-content: center;
    align-items: center;
    height: 100%
}

.our-vision img {
    width: 95%;
}

.our-vision h3 {
    padding-top: 120px;
}

.our-vision p {
    padding-right: 30px;
}


/* Facts */

.facts {
    padding: 131px 0 168px;
}

.facts hr {
    width: 481px;
    border: 2px solid #001837;
    margin: auto;
}

.facts h2 {
    font-size: 54px;
    padding: 58px 0 90px;
}

.fact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.fact-one {
    background: #FFDDAE;
    padding: 30px;
}

.fact-two {
    background: #D6B4E4;
    padding: 30px;
}

.fact-three {
    background: #F5D0D7;
    padding: 30px;
}

.fact-grid hr {
    width: 98%;
    border: 1px solid #000000;
}

.fact-grid h3 {
    font-size: 30px;
    padding-top: 28px;
}

.fact-grid p {
    font-size: 18px;
    line-height: 28px;
}

.fact-btn {
    font-size: 14px;
}


.aim-heading {
    font-size: 54px;
    padding: 112px 0 42px;
}

.aim-paragraph {
    font-size: 21px;
    line-height: 32px;
    padding-bottom: 105px;
}

.aim-divider {
    width: 755px;
    border: 2px solid #000000;;
}

/*About-Group */
.about-group {
    padding-bottom: 236px;
}

.group-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 170px;
}

.group-grid h3 {
    font-size: 32px;
    width: 370px;
    padding-top: 80px;
    margin: auto;
}

.group-grid p {
    font-size: 18px;
    color: rgba(20, 20, 20, 0.6);
    line-height: 32px;
    width: 304px;
    margin: auto;
    padding: 20px 0px 30px;
}

.group-grid img {
    width: 322px;
}

.group-grid .btn-group {
    border: 1.5px solid #141414;
    border-radius: 40px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    color: #141414;
    margin-right: 30px;
    font-size: 18px;
}

.group-grid .btn-group:hover {
    border: none;
    background: #141414;
    border-radius: 40px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}


/* Corporate Values */
.corporate-values {
    padding-bottom: 160px;
}

.corporate-values h2 {
    padding: 153px 0 39px;
}

.corporate-values p {
    padding-bottom: 125;
    line-height: 32px;
    width: 750px;
    margin: auto;
}

.corporate-values hr {
    width: 486px;
    margin: auto;
    border: 2px solid #000000;
}


/* Corporate Grid */


/*Our DNA*/
.our-dna {
    background-color: rgba(255, 242, 200, 0.3);
    padding: 120px 0 60px;
}

.our-dna p {
    padding-bottom: 15px;
    width: 750px;
    margin: auto;
}



.delight {
    padding: 119px 0 339px;
}

.delight h2 {
    padding-bottom: 119px;
}

.delight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 60px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.delight-grid img {
    width: 270px;
    height: 270px;
}

.delight-grid h3 {
    font-size: 32px;
    padding: 49px 0 14px;
}

.delight-grid p {
    font-size: 18px;
}







/*Provider Network Page*/

.container-provider {
    max-width: 1000px;
    margin: -100px auto auto auto;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 23px 37px -5px rgba(0, 0, 0, 0.2);
    border-radius: 16px; 
}

.provider-bg {
    background-color: #FFDFAF;
    padding-bottom: 100px;
}

.provider-hero {
    padding: 81px;
}

.provider-bg h1 {
    font-size: 54px;
}

/*map*/
.mapouter {
    position:relative;
    text-align:right;
  }

.gmap_canvas {
    overflow:hidden;
    background:none!important;
}

.fam-section1 .mapouter .gmap_canvas iframe {
    height: 600px;
    width: 1000px;
    border-radius: 16px;
    padding: 6px 6px 0 6px;
}

.provider-bottom {
    background-color: #FEDEAE;
    padding: 56px 0px 100px;
}

.provider-bottom p {
    line-height: 32px;
    padding: 10px 0px 30px;
    width: 667px;
    margin: auto;
}


.provider-bottom .btn-provider {
    background-color: #ffffff;
    border-radius: 40px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    color: #141414;
    margin-right: 30px;
    font-size: 18px;
}

.provider-bottom .btn-provider:hover {
    border: none;
    background: #141414;
    border-radius: 40px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}







/*Our Team Page*/

/*Team Hero*/
.team-hero {
    background-color: #451F55;
    padding: 129px 0 217px;
}

.team-hero h1 {
    color: #ffffff;
}

.team-hero p {
    color: #fff;
}


.team-members {
    padding: 36px 0 144px;
}

.team-members .grid {
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 85px;
    margin-top: 60px;
}

.team-members h2{
    font-size: 28px;
}

.team-members p {
    font-size: 18px;
}

.team-members h4 {
    font-size: 16ox;
}


.team-bottom {
    padding: 77px 0 93px;
    background-color: #D6B4E4;
    ;
}







/* Individual & Families Page*/


.individuals-bg {
    background-color: #FFEFE7;
}

/*Fam Section1*/

.container-one {
    max-width: 1100px;
    padding: 140px 85px 78px 85px;
    margin: -100px auto auto auto;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 23px 37px -5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;  
}

.fam-section1 h3 {
    font: 32px;
    padding-bottom: 80px;
}

/*form*/
.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    gap: 30px;
}

.wrapper .form-box {
    width: 100%;
    position: relative;
    padding: 20px;
}

.wrapper .form-box input  {
    width: 100%;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #141414 ;
    transition: 0.5s linear;
}

.wrapper .form-box input:focus,
.wrapper .form-box input:valid {
    padding: 20px 10px;
    background: #f9f9f9;
    margin-top: 10px;
}

.wrapper .form-box label {
    position: absolute;
    top: 0;
    left: 0;
    color: #141414;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    transition: 0.5s linear;
}

.wrapper .form-box input:focus ~ label,
.wrapper .form-box input:valid ~ label {
    padding: 0;
}


.container-one input[type="submit"]{
    background-color: #fff;
    border: 1.5px solid #141414;
    border-radius: 40px;
    padding: 17px 45px;
    font-size: 16px;
    cursor: pointer;
}


/*Benefits Section2*/
.benefits-section2 {
    margin: 54px 0 77px;
}

.benefits-section2 h2 {
    max-width: 700px;
    margin: auto;
    padding-bottom: 35px;
}

.benefits-section2 hr {
    width: 276px;
    height: 0px;
    border: 2px solid #6E597F;
    margin: auto;
}


/*Image Text 2nd Section*/

.image-text {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 120px;
    margin: 66px 0px 126px;
}

.image-text h3 {
    font-size: 30px;
}

.image-text a {
    color: #E1AD01;
    border-bottom: 2px solid #E1AD01;
}


.image-text a:hover {
    color: #141414;
    border-bottom: 2px solid #141414;
    text-decoration: none;
}


.question {
    margin: 120px 0 100px;
}

.question .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.container .bubble-question {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container .bubble-question h3 {
    font-size: 24px;
}


.container .bubble-question p {
    font-size: 18px;
}

.container .bubble-question img {
    width: 70%;
    height: 100%;
    padding: 10px;
}






/* Corporate Page */

.corporate-bg {
    background-color: #E0E9EB;
    ;
}




/* Grps & Associations Page */
.group-bg {
    background-color: #FFEFE7;
}




/* Churches & Religious Groups */
.church-bg {
    background-color: #FADBE1;
}





/* 404 Page */
.four-zero {
    padding: 10px 0 136px;
}

.four-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 117px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.four-grid img {
    width: 359.54px;
    height: 727px;
}



/*login*/
.login {
    padding: 62px 0 602px;
}

.container-login {
    width: 640px;
    margin: auto;
    padding: 89px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 24, 55, 0.5);
    box-shadow: 0px 32px 39px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container-login .form-heading h3 {
    padding: 64px 0 99px;
    font-size: 40px;
}

.login-wrapper .login-box input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    width: 462px;
    height: 66px;
    margin: 15px 0 30px;
}

.login-wrapper .login-box label {
    font-size: 18px;
    color: #000000;
}

.login-wrapper .login-box input[id="password"] {
    margin-bottom: 60px;
}


.login-wrapper .login-box ::placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    padding-left: 22px;
}

.container-login input[type="submit"]{
    background: #E1AD01;
    border-radius: 8px;
    width: 462px;
    height: 66px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
}

.container-login input[name="submit"]{
    border-radius: 8px;
    width: 462px;
    height: 66px;
    cursor: pointer;
    color: #0C0B0A;;
    font-size: 18px;
    border: 2px solid #E1AD01;
    background: #FFFFFF;
    margin-bottom: 133px;
}

.login-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 60px;
}

.login-grid hr {
    width: 188px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.login-grid h3 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    text-align: center;
}

.login p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
}


/* Sign Up */
.signup-paragraph {
    padding-bottom: 50px;
}











/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}


/* Margin */
.my-1 {
    padding: 1rem 0;
}

.my-2 {
    padding: 1.5rem 0;
}

.my-3 {
    padding: 2rem 0;
}

.my-4 {
    padding: 3rem 0;
}

.my-5 {
    padding: 4rem 0;
}


.m-1 {
    padding: 1rem ;
}

.m-2 {
    padding: 1.5rem ;
}

.m-3 {
    padding: 2rem ;
}

.m-4 {
    padding: 3rem ;
}

.m-5 {
    padding: 4rem ;
}



/* Padding */
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}


.p-1 {
    padding: 1rem ;
}

.p-2 {
    padding: 1.5rem ;
}

.p-3 {
    padding: 2rem ;
}

.p-4 {
    padding: 3rem ;
}

.p-5 {
    padding: 4rem ;
}





/* Tablets and Under */
@media (max-width: 768px) {
    .grid,
    .hero .grid,
    .first-section .grid,
    .second-section .grid,
    .third-section .grid,
    .fourth-section .grid,
    .fifth-section .grid,
    .sixth-section .grid,
    .seven-section .grid,
    .footer .grid-2 {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
    }
}




/* Mobile  */
@media (max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }
}


/*NavBar*/

.menu-bar {
    background-color: #ffffff;
    height: 80px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}


.menu-bar ul {
    list-style: none;
    display: flex;
}


